Repository MGREMY/angular-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.html": [],
  "*.scss": "prettier --write"
}

Update .lintstagedrc.json
  .lintstagedrc.json
Due: none

Update esLint config and set CLRF for EOL
  .editorconfig
  .eslintrc.json
  .prettierrc
Due: none

update formating config
  .eslintrc.json
  .vscode/settings.json
Due: none

Update EOL to LF
  .editorconfig
  .eslintrc.json
  .prettierrc
  .vscode/settings.json
Due: none

Update eslint config
  .eslintrc.json
  .prettierrc
  .vscode/settings.json
Due: none

Update esLint and Prettier
  .eslintrc.json
  .prettierignore
  .prettierrc
  .vscode/settings.json
  package.json
  src/index.html
  src/main.ts
Due: prettier --write, eslint

esLint on the project
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: prettier --write, eslint

Update config
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.routing.ts
  src/index.html
  src/main.ts
Due: prettier --write, eslint

Update to Angular 17 + dependancies
  .vscode/extensions.json
  angular.json
  package-lock.json
  package.json
Due: none

Add TailwindCSS
  .eslintignore
  .prettierrc
  package-lock.json
  package.json
  src/styles.scss
  tailwind.config.js
Due: prettier --write

Update TailwindCSS config
  .postcss.config.js
  package-lock.json
  package.json
  src/styles.scss
Due: prettier --write

Add Flowbite
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/app.component.ts
  tailwind.config.js
Due: prettier --write, eslint

Add apache2 LICENSE
  LICENSE
Due: none

Add vscode workspace file
  .vscode/settings.json
  angular-template.code-workspace
Due: none

Update config
  package.json
Due: none

Rollback on config files
  .postcss.config.js
  postcss.config.js
  tailwind.config.js
Due: none

Update Karma and prettier config
  .eslintignore
  .prettierignore
  .prettierrc
  .vscode/tasks.json
  angular-template.code-workspace
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  src/app/app.component.scss
Due: prettier --write

Create base.yml
  .github/workflows/base.yml
Due: none

Update base.yml
  .github/workflows/base.yml
Due: none

Create base.yml (#1)
  .github/workflows/base.yml
Due: none

Update config
  angular.json
Due: none
